.maincontent-container {
    padding: 50px;
}

.maincontent-header {    
    margin-bottom: 40px;
}

.maincontent-time {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.maincontent-ending {
    margin-top: 10px;
    display: flex;
}

.maincontent-ending > p {
    margin-right: 20px;
}