.maincontent-container {
    padding: 50px;
    position: relative;
}

.maincontent-title {
    margin-bottom: 30px;
}

.maincontent-form {    
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincontent-ending-root {
    width: 200px;
}

.maincontent-ending-label {
    color: white;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.maincontent-fileinput {
    display: none;
}

.maincontent-fileinput-label {
    border-radius: 5px;
    padding: 20px 10px;
    width: 200px;
    background-color: white;
    color: #202020;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}