.section-container {
    margin-bottom: 50px;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.section-title > h2 {
    text-align: left;
}

.section-content {
    display: flex;
}

.section-topics {
    width: 100%;
    margin-left: 20px;
}

.section-checkbox {
    width: 30px;
    height: auto;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    margin-right: 18px;
}