.section-container {
    margin-bottom: 50px;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.section-title > h2 {
    text-align: left;
}

.section-content {
    display: flex;
}

.section-topics {
    width: 100%;
}

.section-checkbox {
    width: 30px;
    height: auto;
}